<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>EDUCATION</h2>
      <p>Holy Family Academy is where I completed high school, and I'm currently enrolled in Holy Angel University's third-year Web Developer program. </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        
        

        
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        
      
        
      </div>
    </div>

  </div>
</section>