<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Resume</title>
</head>

<body>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="index.html">JANUS KEITH T. MILAN</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul class="nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link scrollto active text-black" href="#hero">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto text-black" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto text-black" href="#resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto text-black" href="#services"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto text-black" href="#portfolio"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto text-black" href="#contact">Contact</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <app-about></app-about>
  <app-skills></app-skills>
  <app-education></app-education>
  <app-references></app-references>
</body>